@import "../../common/breakpoints";

.component-pokedex-table {

  .fa-bolt,
  .fa-star {
    color: #FF8F00;
    margin: 3px;
  }

  thead {

    th {
      padding: 15px 10px;
      letter-spacing: 2px;
      cursor: pointer;

      @include media-breakpoint-down(pad) {
        font-size: 12px;
        padding: 5px 4px;
        letter-spacing: 0;
      }
    }

    th.id,
    th.name-en,
    th.max-cp,
    th.rating {
      cursor: pointer;
    }

    th {
      width: 11%;
    }

    th.id {
      width: 7%;
    }

    th.name {
      width: 25%;
    }
  }

  tbody {
    td.pokedex-pic {
      min-height: 77px;
      height: 77px;
    }
  }

}
