.component-pokedex-table {

  th.id,
  th.name-en,
  th.max-cp,
  th.rating {
    cursor: pointer;
  }

  th.id {
    width: 7%;
  }

  th.image {
    width: 11%;
  }

  th.name-cn {
    width: 11%;
  }

  th.name-jp {
    width: 15%;
  }

  th.name-en {
    width: 11%;
  }

  th.evolution {
    width: 11%;
  }

  th.egg {
    width: 11%;
  }

  th.max-cp {
    width: 11%;
  }

  th.rating {
    width: 11%;
  }

}
