@import "../../common/breakpoints";

.component-pokedex-table {

  thead {

    th {
      padding: 15px 10px;
      letter-spacing: 2px;

      @include media-breakpoint-down(pad) {
        font-size: 12px;
        padding: 5px 4px;
        letter-spacing: 0;
      }
    }

    th.id,
    th.name-en,
    th.max-cp,
    th.rating {
      cursor: pointer;
    }

    th {
      width: 11%;
    }

    th.id {
      width: 7%;
    }

    th.name-jp {
      width: 15%;
    }
  }

  tbody {
    td.pokedex-pic {
      min-height: 77px;
      height: 77px;
    }
  }

}
