.component-pokedex-search {

  background-color: white;
  margin: 10px auto;
  padding: 5px;
  box-shadow: 0 12px 10px -12px rgba(0, 0, 0, 0.4);

  .header {
    margin: 5px;
    padding: 5px 15px;
    font-weight: bold;
  }

  .search-box {
    padding: 10px;

    input {
      width: 100%;
      height: 30px;
      outline: none;
      padding-left:10px;
      padding-right: 10px;
    }
  }

}