.home-view {

  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: auto;
  padding: 30px;

  > div {
    margin: 25px;
  }

  .pikachu {
    width: 350px;
    height: 250px;
    background-image: url("../../images/pikachu.gif");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: auto;
  }

}

