.home-view {

  .pikachu {
    width: 350px;
    height: 250px;
    background-image: url("../../images/pikachu.gif");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: auto;
  }

  .title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
  }

  .info {
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    margin: 30px;
  }
}


.version {
  position: absolute;
  right: 0;
  bottom: 0;
}
