.status-view {
  width: 100%;
  height: 100%;
  display: flex;

  ul.status-list {
    background-color: white;
    text-align: center;
    border: 1px solid black;
    width: 300px;

    li.item {
      width: 200px;
      margin: auto;

      .emojione {
        width: 20px;
      }

      span {
        margin: 10px;
        height: 25px;
      }

      span.name {
        height: 25px;
        vertical-align: middle;
      }

      span.item {

      }
    }
  }

}
