@import "../../common/breakpoints";

.pokedex-view {

  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 5px 20px;

  @include media-breakpoint-down(pad) {
    padding: 5px 5px;
  }

  .group-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > * {
      flex-grow: 1;
      margin: 5px;
    }
  }
}
