.component-pokedex-reset {

  background-color: white;
  margin: 10px auto;
  padding: 5px;
  box-shadow: 0 12px 10px -12px rgba(0, 0, 0, 0.4);

  .header {
    margin: 5px;
    padding: 5px 15px;
    font-weight: bold;
  }

  .button-box {
    padding: 20px;

    .button {
      width: 100%;
    }
  }

}
