table.responsive-table {

  $sm: 768px;
  $light-grey-bg: #fafafa;
  $light-grey-border: #ddd;
  $box-shadow: 0 14px 12px -12px rgba(0, 0, 0, 0.6);

  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    display: table-header-group;
    background: $light-grey-bg;

    @media (min-width: $sm) {
      display: table-header-group;
    }

    tr {
      border: 1px solid $light-grey-border;
    }

    th {
      text-transform: uppercase;
      font-size: 16px;
    }
  }

  tr {

    padding: 5px;
    display: block;
    background: white;

    @media (min-width: $sm) {
      display: table-row;
      border-bottom-width: 1px;
      margin-bottom: 0;

      &:nth-child(even) {
        background: $light-grey-bg;
      }
    }
  }

  th,
  td {
    padding: 10px;
    text-align: center;
  }

  tbody {

    tr {
      margin-bottom: 10px;
      border: 1px solid $light-grey-border;
      border-bottom: 2px solid $light-grey-border;
      box-shadow: $box-shadow;
    }

    td {
      border-bottom: 1px dotted $light-grey-border;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  td {
    display: block;
    text-align: right;
    font-size: 14px;

    @media (min-width: $sm) {
      display: table-cell;
      text-align: center;
      font-size: 14px;
      border-bottom: none;
    }
  }

  td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;

    @media (min-width: $sm) {
      content: "";
      display: none;
    }
  }
}
